---
import Navbar from '../components/Navbar.vue'
---


<nav class="flex flex-row w-screen absolute z-30 justify-between" style="z-index: 100;">
    <a href="https://www.ug.edu.ec/"><img src="/logo.png" alt="universidad de guayaquil" width="100px" height="100px" class="hover:animate-heartbeat"></a>
    <Navbar></Navbar>
</nav>